


        nav{
            display: flex;
            justify-content: space-between;
        }
        nav a{
            text-decoration: none;
            margin-right: 20px;
            color: black;
        }
        .form-contner{
            display: flex;
            flex-direction: column;
            width: 50%;
            border-radius: 10px;
        
        }
        .login-form{
            display: flex;
            margin: 0px auto;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
        .form-contner input{
            margin-top: 20px;
        }
        .items{
            border:1px solid blue;
        }
        .contineor{
            display:grid;
            grid-template-columns:repeat(4,100px);
            justify-content: center;
        }